body {
    /* background-image: url('http://cdn2.bigcommerce.com/n-arxsrf/fhqhzj/product_images/uploaded_images/trivia-category-ideas.jpg'); */
    font-family: 'Concert One', cursive;
}

#start {
    position: relative;
    width: 200px;
    color: #FFF;
    display: block;
    text-decoration: none;
    margin: 0 auto;
    border-radius: 5px;
    border: solid 1px #D94E3B;
    background: #cb3b27;
    text-align: center;
    padding: 20px 30px;
    transition: all 0.1s;
    box-shadow: 0px 9px 0px #84261a;
}

#welcome {
    text-align: center;
}

#start,
#opening_pic {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
}

img {
    height: 25%;
    width: 25%;
}

#questions_ul {
    list-style-type: none;
}

